En una agencia inmobiliaria disponen de datos de precios de casas y algunas características de las mismas y están interesados en utilizar modelos de Inteligencia Artificial para obtener información de los datos que poseen. El conjunto de datos *PrecioCasas.csv* contiene información sobre las viviendas, con las siguientes variables:  
- Precio. Precio de la casa
- Superficie: Superificie
- Num_Habitaciones: Número de habitaciones
- Nun_Baños: Número de baños
- Num_Pisos: Número de plantas

La información en la que están interesados en la agencia inmobiliria es la siguiente:

In [16]:
import pandas as pd
import os

In [17]:
df = pd.read_csv("PrecioCasas.csv", sep = ",")
df

       Precio  Superficie  Num_Habitaciones  Num_Baños  Num_Pisos
0    13300000        7420                 4          2          3
1    12250000        8960                 4          4          4
2    12250000        9960                 3          2          2
3    12215000        7500                 4          2          2
4    11410000        7420                 4          1          2
..        ...         ...               ...        ...        ...
540   1820000        3000                 2          1          1
541   1767150        2400                 3          1          1
542   1750000        3620                 2          1          1
543   1750000        2910                 3          1          1
544   1750000        3850                 3          1          2

[545 rows x 5 columns]

1. ¿Qué dos variables tienen mayor influencia en el precio de la vivienda? Justifica tu respuesta. (2 puntos)

In [18]:
import numpy as np
from sklearn.linear_model import LinearRegression

x = df.iloc[:,1:].values
y = df.iloc[:,0].values

reg = LinearRegression()
reg.fit(x,y)
reg.coef_

array([3.80024429e+02, 1.98295494e+05, 1.20018047e+06, 5.31595009e+05])

las variables que tienes mayor influencia son las 2 ultimas debido a que poseen el coeficiente mas alto

2. Si en lugar de utilizar la regresión lineal sin regularización, se utilizara con regularización L1 (Lasso) con $\alpha=10$, ¿las conclusiones serían iguales a las obtenidas en el ejercicio 1? ¿Existe alguna diferencia? Explicar (2 puntos)

In [19]:
from sklearn.linear_model import Lasso
reg_ls = Lasso(10)
reg_ls.fit(x,y)
print(f"Lasso:{reg_ls.coef_} \nRS:{reg.coef_}")

Lasso:[3.80026554e+02 1.98286966e+05 1.20014612e+06 5.31590704e+05]
RS:[3.80024429e+02 1.98295494e+05 1.20018047e+06 5.31595009e+05]

4. Analizar cómo de fiable es la predicción del precio utilizando la superficie y el número de habitaciones, empleando un conjunto de test del 20% de los datos, y usando como medida de rendimiento la raíz cuadradada del error cuadrado medio (RMSE) (2 puntos)

In [23]:
from sklearn.model_selection import train_test_split
from sklearn.metrics import root_mean_squared_error

X_train, X_test, y_train, y_test = train_test_split(x, y, test_size=0.2, random_state=2025)

X_train1 = X_train[:, 1:3]
X_test1 = X_test[:, 1:3]

reg.fit(X_train1, y_train)
y_pred = reg.predict(X_test1)
error = root_mean_squared_error(y_test, y_pred)
error

1927623.1201842618

5. Debido a la diferencia de rango de las variables, se deciden escalar los valores y repetir el análisis anterior. (2 puntos)

In [ ]:
from sklearn.preprocessing import MinMaxScaler

valores = df.iloc[:,1:].values
normalizador = MinMaxScaler()
df2 = normalizador.fit_transform
x1 = df2[:,1:]
y1 = df2[:,0]

x_train2, x_test2, y_train2, y_test2 = train_test_split(x1, y1, test_size=0.2, random_state=456)

x_train3 = x_train2[:,1:3]
x_test3 = x_test2[:,1:3]

reg.fit(x_train3, y_train2)
y_pred2 =