In [ ]:
import pandas as pd
import os
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

## Numpy

1. Crea un array de ceros de tama√±o 10.

In [ ]:
m = np.zeros((10))
m

2. Crea un array con los n√∫meros del 10 al 50.

In [ ]:
n = np.arange(10,51)
n

3. Crea un array de 5x5 con n√∫meros aleatorios entre 0 y 1.

In [ ]:
m1 = np.random.random((5,5))
m1

4. Genera una matriz identidad de 4x4.

In [ ]:
v3 = np.zeros((4,4))
for i in range(4):
    v3[i, i] = 1
print (v3)

5. Dado un array de 10 elementos, reemplaza todos los valores mayores a 5 con 0.

In [ ]:
m2 = np.random.randint(0, 11, size=10)
print("Array original: ", m2)
m2[m2 > 5] = 0
print("Nuevo array: ", m2)

6. Multiplica dos matrices de 3x3 generadas aleatoriamente.

In [ ]:
m3 = np.random.randint(0, 11, size=(3,3))
m4 = np.random.randint(0, 11, size=(3,3))
print(m3)
print(m4)
print(m3 @ m4)

## Pandas

1.Carga el dataset titanic.csv en un DataFrame y muestra las primeras 5 filas.

In [ ]:
df = sns.load_dataset("titanic")

df.head()

2. A√±ade una nueva columna "Precio por Persona" dividiendo el precio del boleto entre el n√∫mero de familiares.

In [ ]:
df["num_familiares"] = df["sibsp"] + df["parch"] +1
df["precio_persona"] = df["fare"]/df["num_familiares"]
df[["fare", "sibsp", "parch", "num_familiares", "precio_persona"]].head()

3. Filtra los pasajeros del Titanic que eran mayores de 30 a√±os y viajaban en primera clase.

In [ ]:
df_filtered = df[(df["class"] == "First") & (df["age"] > 30)]
df_filtered

4. Agrupa los datos del Titanic por clase y calcula la edad media de cada clase.

In [ ]:
df_agrupado = df.groupby("class")['age'].mean()
df_agrupado

5. Crea una funci√≥n que clasifique las edades en "ni√±o", "adulto" o "anciano" y apl√≠cala a una nueva columna.

In [ ]:
def clasificar_edad(age):
    if age <= 18:
        return 'ni√±o'
    elif 13 <= age <= 60:
        return 'adulto'
    else:
        return 'anciano'

df['clasificaci√≥n'] = df['age'].apply(clasificar_edad)
df

## Matplotlib

1. Genera una gr√°fica de l√≠nea con los valores de x = [0, 1, 2, 3, 4] y y = [0, 1, 4, 9, 16]

In [ ]:
x = [0, 1, 2, 3, 4]
y = [0, 1, 4, 9, 16]
plt.plot(x,y)

2. Crea un histograma de 1000 n√∫meros aleatorios con distribuci√≥n normal.

In [ ]:
datos = np.random.normal(size = 1000)
plt.hist(datos, bins = 30, edgecolor = 'black', color = "blue" )

3. Genera una gr√°fica de dispersi√≥n entre dos arrays de n√∫meros aleatorios.

In [ ]:
datos1 = np.random.normal(size = 10)
datos2 = np.random.normal(size = 10)
plt.scatter(datos1, datos2)
plt.grid()

## NumPy 2

1Ô∏è‚É£ Crea un array con los n√∫meros del 1 al 100.

In [ ]:
a1 = np.arange(1, 101)
a1

2Ô∏è‚É£ Genera un array de 20 valores aleatorios entre 10 y 50.

In [ ]:
a2 = np.random.randint(10,51, size=20)
a2

3Ô∏è‚É£ Crea una matriz 5x5 con valores del 1 al 25.

In [ ]:
a3 = np.arange(1,26).reshape(5,5)
a3

4Ô∏è‚É£ Cambia todos los valores pares de un array por 0.

In [ ]:
a4 = np.random.randint(1, 11, size = 10)
print("Array original: ",a4)
a4[a4 % 2 == 0] = 0
print("Array modificada: ", a4)

## Pandas 2

9Ô∏è‚É£ Carga el dataset titanic desde Seaborn y muestra las primeras 5 filas.

In [ ]:
df.head()

üîü Muestra la cantidad de pasajeros por cada clase (class).

In [ ]:
pasajeros_clase = df["class"].value_counts
pasajeros_clase

1Ô∏è‚É£1Ô∏è‚É£ Filtra los pasajeros de primera clase (First) que tengan m√°s de 40 a√±os.

In [ ]:
df_filtered2 = df[(df["class"] == "First") & (df["age"] > 40)]
df_filtered2

1Ô∏è‚É£2Ô∏è‚É£ Calcula el porcentaje de pasajeros que sobrevivieron (survived == 1).

In [ ]:
porcentajes_sobrevivientes = (df["survived"].mean())*100
print(f"Porcentaje de supervivientes: {porcentajes_sobrevivientes:.2f}%")

1Ô∏è‚É£3Ô∏è‚É£ Crea una nueva columna familiares sumando sibsp y parch.

In [ ]:
df["familiares"] = df["sibsp"] + df["parch"]
df[["fare", "sibsp", "parch", "familiares"]].head()

## Matplotlib 2

1Ô∏è‚É£7Ô∏è‚É£ Crea un gr√°fico de l√≠neas con la funci√≥n y = x^2, donde x vaya de -10 a 10.

In [ ]:
x = np.linspace(-10, 10, num=100)
y = x**2
plt.plot(x,y)

1Ô∏è‚É£8Ô∏è‚É£ Genera un histograma de 500 valores aleatorios con distribuci√≥n normal.

In [ ]:
datos = np.random.normal(size = 500)
plt.hist(datos, bins = 30, edgecolor = 'black', color = "blue" )

1Ô∏è‚É£9Ô∏è‚É£ Crea un gr√°fico de dispersi√≥n (scatter plot) con puntos aleatorios.

In [ ]:
np.random.seed(42)
x = np.random.rand(100)*10
y = np.random.rand(100)*10
plt.figure(figsize=(7,5))
plt.scatter(x,y, color = 'b', alpha=0.6, edgecolors='black')

2Ô∏è‚É£0Ô∏è‚É£ Dibuja un gr√°fico de barras con la cantidad de pasajeros por clase en el Titanic.

In [ ]:
pdf = sns.load_dataset("titanic")
pasajeros_por_clase = df["class"].value_counts()
plt.figure(figsize=(7, 5))
plt.bar(pasajeros_por_clase.index, pasajeros_por_clase.values, color=['blue', 'orange', 'green'])

plt.xlabel("Clase")
plt.ylabel("Cantidad de Pasajeros")
plt.title("N√∫mero de Pasajeros por Clase en el Titanic")
plt.legend('label')

## Numpy 3

1Ô∏è‚É£ Crea un array de 50 valores equiespaciados entre -5 y 5.

In [ ]:
valores = np.linspace(-5,5, 50)
valores

2Ô∏è‚É£ Genera una matriz 4x4 con n√∫meros aleatorios entre 0 y 1.

In [ ]:
valores1 = np.random.random((4,4))
valores1

3Ô∏è‚É£ Suma todas las columnas de una matriz 5x5 con valores enteros aleatorios entre 10 y 100.

In [ ]:
valores2= np.random.randint(10,51, size = (5,5))
print(f"matriz: \n{valores2}")
sum_columnas = np.sum(valores2, axis=0)
print(f"\nsuma de columnas: {sum_columnas}")

4Ô∏è‚É£ Reemplaza todos los valores negativos de un array aleatorio por 0.

In [ ]:
valores3=np.random.randint(-100,100, size = 10)
print(f"matriz original: \n{valores3}")
valores3[valores3 < 0]= 0
print(f"matriz actualizada: \n{valores3}")

## Pandas 3

7Ô∏è‚É£ Muestra la cantidad de valores nulos en cada columna del dataset Titanic.

In [ ]:
df = sns.load_dataset("titanic")
valores_nulos = df.isnull().sum()
valores_nulos

8Ô∏è‚É£ Filtra los pasajeros menores de 18 a√±os y que viajaban en Primera Clase.

In [ ]:
df_filtered2 = df[(df["class"] == "First") & (df["age"] < 18)]
df_filtered2

1Ô∏è‚É£1Ô∏è‚É£ Dibuja un histograma de las edades de los pasajeros del Titanic.

In [ ]:
pdf = sns.load_dataset("titanic")
pasajeros_por_edad = df["age"].value_counts()
plt.figure(figsize=(7, 5))
plt.bar(pasajeros_por_edad.index, pasajeros_por_edad.values, color=['blue', 'orange', 'green'])

1Ô∏è‚É£2Ô∏è‚É£ Crea un gr√°fico de l√≠neas con las funciones ùë¶=ùë•^3 y=x, con x entre -10 y 10.

In [ ]:
x = np.linspace(-10,10, num=100)
y1 = x**3
y2 = x
plt.plot(x,y1,'b',y2,'r')

1Ô∏è‚É£3Ô∏è‚É£ Genera un gr√°fico de dispersi√≥n de fare vs age en el Titanic, usando diferentes colores seg√∫n la clase.

In [ ]:
df = sns.load_dataset("titanic")
plt.figure(figsize=(8, 5))
sns.scatterplot(data=df, x="age", y="fare", hue="class", palette="viridis", alpha=0.7)

1Ô∏è‚É£4Ô∏è‚É£ Crea un gr√°fico de barras mostrando el n√∫mero de sobrevivientes y no sobrevivientes.

In [ ]:
df = sns.load_dataset("titanic")
plt.figure(figsize=(6, 4))
sns.countplot(data=df, x="survived", hue="survived", palette="coolwarm", legend=False)  # Se asigna hue="survived"

Dibuja un heatmap de correlaci√≥n entre todas las variables num√©ricas del dataset Titanic.

In [ ]:
df = sns.load_dataset("titanic")
correlacion = df.corr(numeric_only=True)
plt.figure(figsize=(8, 6))
sns.heatmap(correlacion, annot=True, cmap="coolwarm", fmt=".2f", linewidths=0.5)